{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="slim-header">
	<div class="container">
	  <div class="row py-2 align-items-center justify-content-center">
		<div class="col-md-9 text-center">
		  
		  
		  <p class="breadcrumbs">
			<!-- <span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span><span>Course<i class="fa fa-chevron-right"></i></span> -->
		  </p>
		  
		</div>
	  </div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <!-- Main content column -->
      <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
        <!-- Information section in the center -->
        <div class="text-center mb-3">
          <p class="color_gray">
            <span class="cat">
              <a href="#" class="cat_item">{{ tags|join:", " }}</a> <!-- نمایش تگ‌ها -->
            </span>
            <span class="divider"> | </span>
            <span class="author_name">
              <a href="https://www.yektanet.com/author/setare/">{{ author }}</a> <!-- نمایش نویسنده -->
            </span>
            <span class="divider"> | </span>
            <span class="publish_date">
              <span class="date_modified"> publish_date</span>: </span> {{ published_date }} <!-- نمایش تاریخ -->
            </span>
          </p>
        </div>

        <!-- Title of the Blog - Align to the left -->
        <h1 class="mb-3 text-left">
          {{ title }} <!-- عنوان بلاگ -->
        </h1>
        <img src="{% static 'images/image_1.jpg' %}" alt="" class="img-fluid" />
        <p>
          {{ content }} <!-- محتوای بلاگ -->
        </p>

        <div class="pt-5 mt-5">
          <h3 class="mb-5" style="font-size: 20px; font-weight: bold">
            6 Comments
          </h3>
          <ul class="comment-list">
            <li class="comment">
              <div class="vcard bio">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" />
              </div>
              <div class="comment-body">
                <h3>John Doe</h3>
                <div class="meta">September 17, 2020 at 2:21pm</div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                </p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
            </li>
          </ul>
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5" style="font-size: 20px; font-weight: bold">
              Leave a comment
            </h3>
            <form action="#" class="p-5 bg-light">
              <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Sidebar column -->
      <div class="col-lg-4 sidebar ftco-animate pl-md-4 py-md-5">
        <div class="sidebar-box mt-md-5 bg-light">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon fa fa-search"></span>
              <input type="text" class="form-control" placeholder="Search..." />
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <div class="categories">
            <h3>Services</h3>
            <li><a href="#">Top Quality Content <span>(12)</span></a></li>
            <li><a href="#">Highly Skilled Instructor <span>(22)</span></a></li>
            <li><a href="#">World Class &amp; Quiz <span>(37)</span></a></li>
            <li><a href="#">Get Certified <span>(42)</span></a></li>
          </div>
        </div>

        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <h3>Recent Blog</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url('/static/images/image_1.jpg')"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="fa fa-calendar"></span> Sept. 17, 2020</a></div>
                <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">design</a>
            <a href="#" class="tag-cloud-link">learn</a>
            <a href="#" class="tag-cloud-link">education</a>
            <a href="#" class="tag-cloud-link">course</a>
            <a href="#" class="tag-cloud-link">online</a>
            <a href="#" class="tag-cloud-link">bag</a>
            <a href="#" class="tag-cloud-link">pen</a>
            <a href="#" class="tag-cloud-link">teacher</a>
          </div>
        </div>

        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <h3>Paragraph</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
